<!-- html5を使う宣言 -->
<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= full_title(yield(:title)) %>
    </title>
    <%= render 'layouts/rails_default'%>

    <!--app/views/layouts/_shim.html.erbというファイルを探してその内容を評価し、結果をビューに挿入 -->
    <%= render 'layouts/shim'%>
  </head>

  <body>
    <!-- headerタグ読み込み(app/views/layouts/_header.html.erb)  -->
    <%= render 'layouts/header' %>
    <!-- メインコンテンツ -->
    <div class="container">
      <!-- home.html.erbの内容埋め込み -->
      <%= yield %>

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
